
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  creationTimestamp: null
  name: thanos.monitoring.banzaicloud.io
spec:
  group: monitoring.banzaicloud.io
  names:
    kind: Thanos
    listKind: ThanosList
    plural: thanos
    singular: thanos
  scope: ""
  validation:
    openAPIV3Schema:
      description: Thanos is the Schema for the thanos API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: ThanosSpec defines the desired state of Thanos
          properties:
            local:
              type: object
            remote:
              type: object
            rule:
              type: object
            storeGateway:
              description: StoreGateway
              type: object
            thanosDiscovery:
              type: object
          type: object
        status:
          description: ThanosStatus defines the observed state of Thanos
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
